<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.hmh.dubbo"/>
    <!-- 具体的实现bean -->
    <bean id="dubboService" class="com.hmh.dubbo.service.DubboServiceImpl" />
    <!-- 具体的实现bean -->
    <bean id="testService" class="com.hmh.dubbo.service.TestServiceImpl" />

    <import resource="spring-dubbo.xml"/>
    <import resource="mongodb.xml"/>
    <import resource="redis.xml"/>

    <bean class="com.hmh.dubbo.dao.MongoDemoDaoImpl" id="mongoDemoDao">
        <constructor-arg ref="dataStore" index="0"/>
    </bean>

    <bean class="com.hmh.dubbo.service.MongodbDemoServiceImpl" id="mongodbDemoService">
        <property name="mongoDemoDao" ref="mongoDemoDao"/>
    </bean>

</beans>